<template>
    <lightning-card title="LWC_Test" icon-name="custom:custom14">
        <lightning-layout multiple-rows="">
            <lightning-layout-item size="12" padding="around-medium">
                <lightning-input type="text" label="Enter SKU for Validation" onchange={inputChangeHandler}>

                </lightning-input>
            </lightning-layout-item>

            <lightning-layout-item size="12" padding="around-medium">
                <lightning-button label="Submit" icon-position="center" onclick={ValidateHandler}>

                </lightning-button>
            </lightning-layout-item>

            <lightning-formatted-text value={currentOutput}></lightning-formatted-text>

        </lightning-layout>
     
    </lightning-card>
</template>